<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <title>Lab 3</title>
</head>
<body>
<div class="container">
    <div class="jumbotron mt-3">
        <h1>Users</h1>
        <ul class="list-group">
            {%for i in range(userLen)%}
            <a class="list-group-item list-group-item-action" href="/user/{{users[i].user_id}}">
                <h3>{{users[i].first_name}}</h3>
                Age <span class="badge badge-secondary">{{users[i].age}}</span>
            </a>
            {%endfor%}
        </ul>
        <a class="btn btn-primary" href="/adduser" style="margin-top: 25px" type="button">Add User</a>
        <br/>
        <label for="mockNumber" style="margin-top: 25px">Number of Users to mock</label>
        <input class="form-control" id="mockNumber" type="number">
        <button class="btn btn-primary" onclick="mock()" style="margin-top: 25px" type="button">Mock Users</button>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    function mock() {
        const num = $('#mockNumber').val();
        if (num) {
            const url = `/mock/${num}`;
            window.location = url;
        }
    }
</script>
</body>
</html>
